@import '../../styles/variables.scss';

@font-face {
  font-family: 'BM_HANNA_11yrs';
  src: url(../../utils/fonts/BMHANNA_11yrs_ttf.ttf);
}

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  h3 {
    font-family: 'BM_HANNA_11yrs', sans-serif;
    //font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;;
    //font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-size: 1.8rem;
    font-weight: 500;
  }

  p {
    font-size: 90%;
    line-height: 1.4;
  }
}

.thumbnail.visible {
  opacity: 1;
}
