/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 * @custoimized by Jbee
 */

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
@import './variables.scss';

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.2em;
  margin-left: -1.2em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.35em solid #0687f0;
}

blockquote {
  color: $blockquote-text-color;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #191919;
  // default : #e0e0e0
  background: none;
  font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
  //font-family : 'Fira Code', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.6;
  // default : 1.6
  font-size: 14px;
  // default : 13

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

pre[class*='language-']::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1.2em;
  margin: 1.5em 0;
  overflow: auto;
  border-radius: 0.6em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #F4F2F0;
  //default : #212121
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em 0.4em;
  // default : 0.1em 0.6em
  font-weight: 600;
  border-radius: 0.2em;
  white-space: normal;
  background: $inline-dimmed-color;
  color: $inline-text-color;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #768291;
  // default : #616161
}

.token.punctuation {
  color: #9B9B9B
  // default : #e0e0e0;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number {
  // default : 아래와 결합
  color: #973264;
}

.token.function {
  color: #CF5F73
  // default : #ff9100;
}

.token.property,
.token.constant,
.token.symbol {
  color: #CF5F73
  //default : #ffff00 ;
}

.token.class-name {
  // default : 위와 결합
  color: #191919;
  font-weight: bold;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #3F7FAC
  //default : #b388ff;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #759A32;
  // default : #00e676
}

.token.operator,
.token.entity,
.token.url {
  color: #9B7950;
  // default : #67cdcc
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
