.post-container {
    line-height: 1.5rem;
    // default : 1.7
    font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
    //font-family: 'Nanum Gothic', sans-serif;
}