@font-face {
    font-family: 'BM_HANNA_11yrs';
    src: url(../../utils/fonts/BMHANNA_11yrs_ttf.ttf);
}

.post-title {
    font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
    // font-family: 'BM_HANNA_11yrs', sans-serif;
    font-size: 32px;
    font-weight: 700;
}